import random

score=10
randomNumber =random.randint(1,10)
attempts=0
print("Welcome to the Number Guessing Game!")
print("I'm thinking of a number between 1 and 10.")

while True:
    userNumberInput = int(input("Please enter a number between 1 and 10: "))
    attempts+=1

    if userNumberInput == randomNumber:
                   print("Congratulations You guessed It right Your Score is:" + str(score) + " You guessed the number in: " + str(attempts) + "th attempt!")
                   break
    else:
           print("Sorry, You did not guess it right Better Luck Next Time")
           score -= 1
